# === General ===
# Exclude standard Python virtual environment
.venv

# == Preprocessing Annotations ==
# Exclude all preprocessed annotation files
common/preprocess/tempAnnotations/*
common/preprocess/textAnnotations/*
common/preprocess/dataPickle.pkl

# === Haar ===
# Exclude everything from the data folder except the download script
common/data/*
!common/data/download.sh
